body {
  margin: 0;
}


header {
  height: 10vh;
  h1 {
      font-family: 'Permanent Marker', cursive;
      text-align: center;
  }

}
form {
  #custom:checked ~ .customPark{
    visibility: visible;
  }
  .customPark {
    visibility: hidden;
      input[type=checkbox] {
          margin-right: 15px;
      }
  }

}

.mapContainer {
  height: 70vh;
}

footer {
  height: 15vh;
  background: #00116b;
  color: whitesmoke;
  p {
      margin: 0;
  }
  a {
      text-decoration: none;
      color: white;
  }
}

