body {
    margin: 0;
}


header {
    height: 10vh;

}
.mapContainer {
    // height: 100vh;
}

footer {
    height: 15vh;
    background: #00116b;
    color: whitesmoke;
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

